.initialising {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1
}

.loading {
  text-align: center;
  font-size: 26px !important;
}

.loading small {
  font-size: 65%;
}
