html, body {
  height: 100%;
}

body {
  background-color: #272b30;
  color: #c9c8c8;
}

hr {
  border-top-color: #32373e;
  border-top-width: 4px;
}

:global {
  & #root {
    height: 100%;
  }

  & .form-control[disabled] {
    background-color: #b0b0b0;
    border-color: #b0b0b0;
  }

  & ::-webkit-scrollbar {
    width: 8px;
  }

  & ::-webkit-scrollbar-track {
    background-color: #32373e;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: #444a53;
  }

  & ::selection {
    background: none;
  }

  & *:hover {
    cursor: default;
  }
}
