.friend {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #32373e;
  opacity: 0.8;
  transition: opacity linear 0.2s;
}

.friend:hover {
  opacity: 1;
}

.friend.online {
  opacity: 1;
}

.friend:last-of-type {
  border-bottom: none;
}

.pic {
  min-width: 80px;
  margin-right: 15px;
}

.pic img {
  height: 80px;
  width: 80px;
}

.details {
  flex: auto;
  display: flex;
  flex-flow: column;
}

.gamertag {
  font-weight: bold;
  font-size: 16px;
  color: #C8C8C9;
  align-self: flex-start;
}

.gamertag:hover, .gamertag:focus {
  color: #5cb85c;
  text-decoration: none;
}

.name {
  font-style: italic;
  font-size: 12px;
}

.primaryStatus {
  margin-top: 10px;
}

.secondaryStatus {
  font-style: italic;
  font-size: 12px;
}

.online .gamertag::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #5cb85c;
  margin-bottom: 2px;
}
